
<script src="~/js/Chart.min.js"></script>
<script src="~/js/jquery-3.6.0.min.js"></script>
<script src="~/js/signalr.min.js"></script>

<div class="row p-3" >

  <div class="col-6 text-center">

    <p class="text-center alert alert-success" id="puls">--</p>

  </div>

  <div class="col-6 text-center">

    <p class="text-center alert alert-warning" id="so">--</p>

  </div>

</div>
<div style="max-height: 1024px;overflow-y: scroll;padding: 5px;">
  <canvas id="serial-port-data-chart" style="margin-top:5px"></canvas>
</div>

<script>
  var ctx = document.getElementById("serial-port-data-chart").getContext("2d");
  var dataPointLimit = 150; // number of data points to display on the chart

  var chart = new Chart(ctx, {
    type: "line",
    data: {
      labels: [],
      datasets: [{
        label: "Serial Port Data Read and write",
        data: [],
        borderColor: "rgba(75, 192, 192, 1)",
        backgroundColor: "rgba(75, 192, 192, 0.2)"
      }]
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true
          }
        }]
      },
      // Add the following code to enable chart zooming and panning
      pan: {
        enabled: true,
        mode: "x",
        speed: 10,
        threshold: 10
      },
      zoom: {
        enabled: true,
        mode: "xy",
        limits: {
          max: 10,
          min: 0.5
        }
      }
    }
  });

  var connection = new signalR.HubConnectionBuilder().withUrl("/dataHub").build();

  connection.on("ReceiveData", function (data, data1, data2) {
    if (data.trim() !== "") {
      var parsedData = parseFloat(data);
       document.getElementById('puls').innerText=(data1);
     document.getElementById('so').innerText=(data2);


      chart.data.labels.push("");
      chart.data.datasets[0].data.push(parsedData);

      // Check if the number of data points is greater than the limit
      if (chart.data.datasets[0].data.length > dataPointLimit) {
        chart.data.labels.shift();
        chart.data.datasets[0].data.shift();
      }

      chart.update();
    }
  });

  connection.start().then(function () {
    // $.post("/Home/StartReading");
    $.post("/Home/Getdata");
  });

</script>


